
@model CatCatalogue.DataAccess.Models.Custom.GetPetsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-5">

    <ul class="bs-component">
        <h2>Cats by Owner's Gender</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Male</h3>
            </div>
            @foreach (var pet in Model.MaleOwnedCats)
            {
                <div class="panel-body">
                    <div>@pet.Name</div>
                </div>
            }

            <div class="panel-heading">
                <h3 class="panel-title">Female</h3>
            </div>
            @foreach (var pet in Model.FemaleOwnedCats)
            {
                <div class="panel-body">
                    <div>@pet.Name</div>
                </div>
            }
        </div>
    </ul>
</div>